@import "variables";

.splash {
    border: 1px solid black;
}

.splash-nav-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.splash-nav {
    height: 64px;
    padding: 0 24px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: relative;

    a {
        color: black;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: $primary_hover;
    }

}

.splash-nav-left {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .splash-nav-logo {
        max-width: 130px;
        height: auto;
    }

    .splash-nav-list-container {
        display: block;
        height: 28px;
        width: 580px;
    
        ul {
            display: flex;
            justify-content: space-around;
        }
    
        ul > li {
            display: inline-block;
            padding: 4px;
        }
    
        li:hover {
            color: $primary_hover;
            cursor: pointer;
        }
    }
}

.splash-nav-spacer {
    flex-grow: 1;
}


.splash-nav-session {
    display: flex;
    font-weight: bold;

    .session-button-spacer {
        width: 30px;
        display: block;
    }

    .button-login {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }

    .button-login:hover {
        color: $primary_hover;
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    .button-signup {
        background-color: $primary_base;
        height: 48px;
        min-width: 150px;
        border-radius: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }

    .button-signup:hover {
        background-color: $primary_hover;
        color: black;
    }

    .button-signup:focus {
        background-color: $primary_pressed;
        color: black;
    }
}

.splash-main {
    width: 100%;
    // height: 2000px;
    padding-top: 64px;
    position: relative;
    overflow: hidden;
}

.splash-header {
    width: 100%;
    background-color: rgb(195, 245, 60);
    // height: 700px;
    border-bottom: 1px solid black;

    .splash-header-landing {
        min-width: 1280px;
        max-width: 1280px;
        padding-left: 37px;
        padding-right: 37px;
        margin: 0 auto;
    }

    .splash-header-content {
        margin-left: -9px;
        margin-right: -9px;
        width: calc(100% + 18px);
        flex-wrap: wrap;
        display: flex;

        .splash-header-left {
            margin-left: 9px;
            margin-right: 9px;
            width: 492px;
            display: block;

            .splash-big-header {
                padding-top: 100px;
                padding-bottom: 12px;
                margin-bottom: 20px;
                line-height: 60px;

                h1 {
                    font-weight: 400;
                    font-size: 52px;
                }
            }

            .splash-big-p {
                margin-top: 24px;

                span {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                }
            }
        }
    }
}

.splash-demo-login {
    display: flex;
    justify-content: start;
    margin: 20px 0;

    button {
        padding: 0 36px;
        border-radius: 24px;
        height: 48px;
        text-align: center;
        width: auto;
        background-color: black;
        color: white;
        
        span {
            font-size: 18px;
            line-height: 24px;
        }
    }

    button:hover {
        color: white;
        background-color: rgba(42, 49, 55, 0.8);
    }
}

.splash-header-right {
    display: block;
    width: 696px;
    height: 603px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    // position: absolute;
    // top: 120px;
    // right: 200px;
    overflow: hidden;
    // box-sizing: border-box;
    // border: 1px solid transparent;
}

.home-page-video{
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    object-fit: contain;
    box-sizing: border-box;
    border: 1px solid transparent;
}


.static-image-home-page {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    align-content: center;
    justify-content: center;
}

.stack-title {
    margin-bottom: 72px;
    font-size: $textXL_font_size;
    font-weight: 400;
    line-height: 40px;
}

.tech-stack{
    width: 1280px;
    margin: 50px auto;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 20px;

    .stack-techs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tech {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 24px;
            font-weight: $textS_font_weight;
            text-transform: uppercase;
        }
    }

    .tech-logo {
        width: 65px;
        height: 65px;
        margin-bottom: 20px;
    }
}

footer {
    background-color: black;
}

.footer-content {
    height: 200px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 72px;

    a {
        color: white;
    }
}
