// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables.scss";

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: 400;
  src: asset-url('fonts/capsule_sans.woff2') format('woff2')
}

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: bold;
  src: asset-url('fonts/capsule_sans_bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: medium;
  src: asset-url('fonts/capsule_sans_medium.woff2') format('woff2')
}

body {
  font-family: 'Capsule Sans', Fallback, sans-serif;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  // color: $primary_base;
  text-decoration: none;
}

a:hover {
  color: $primary_hover;
}

a:focus {
  color: $primary_pressed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}