// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables.scss";

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: 400;
  src: asset-url('fonts/capsule_sans.woff2') format('woff2')
}

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: bold;
  src: asset-url('fonts/capsule_sans_bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Capsule Sans';
  font-style: normal;
  font-weight: medium;
  src: asset-url('fonts/capsule_sans_medium.woff2') format('woff2')
}

body {
  font-family: 'Capsule Sans', Fallback, sans-serif;
  box-sizing: border-box;
  background: none;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  // color: $primary_green_base;
  text-decoration: none;
  color: black;
}

a:hover {
  color: $primary_green_hover;
}

a:focus {
  color: $primary_green_pressed;
}

input {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::-webkit-scrollbar {
    display: none;
}

:root {
  // --primary-base: $primary_green_base;
  --primary-base: rgb(0, 200, 5);
  --primary-hover: rgba(0, 180, 5, 1);
  --primary-pressed: rgba(0, 160, 4, 1);
}