@import "../base/variables.scss";

#_auth {
    height: 2000px;
}

.auth-nav-container {
    position: fixed;
    height: 64px;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
}

.auth-nav {
    max-width: 100%;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.auth-logo-link {
    position: absolute;
    left: 48px;
    margin-right: 0;
}

img.auth-nav-logo {
    width: 32px;
    height: 32px;
    padding: 3px;
}

img.auth-nav-logo:hover {
    fill: $primary_hover;
}

.auth-nav-left {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-nav-search-container {
    border: 1px solid rgb(227,233,237);
    background-color: rgb(255,255,255);
    flex-basis: 480px;
    height: 34px;
    border-radius: $primary_input_border_radius;
    position: relative;
    transition: border-color 300ms ease 0s, box-shadow 300ms cubic-bezier(0.4, 0, 1, 1) 0s;
}

.auth-nav-search-container:hover, .auth-nav-search-container:focus-within {
    border-color: transparent;
    box-shadow: 0px 12px 24px $shadow_color, 
    0px -12px 24px $shadow_color;
    cursor: text;
}

.auth-nav-search-container > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.auth-nav-search-content {
    padding-left: 24px;
}

.search-area {
    display: flex;
    height: 32px;
    align-items: center;

    .search-icon-container {
        margin-right: 4px;
    }

    .search-icon {
        color: rgb(111,120,126);
        font-size: 20px;
        font-weight: 400;
    }

    input {
        border: none;
        width: 100%;
        background: none;
        padding-left: 4px;
        padding-right: 24px;
    }
}

.auth-nav-index {
    position: absolute;
    right: 48px;
    padding: 0 4px 0 6px;
    font-weight: bold;

    .auth-links-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .nav-link {
            box-sizing: border-box;
            border-bottom: 2px solid transparent;
            padding: 6px 0px;
            display: inline-block;
            color: black;
            font-size: $textS_font_size;
        }

        .nav-link  {
            margin-left: 33px;;
        }

        .nav-link:hover  {
            color: $primary_hover;
            cursor: pointer;
        }

        .visible {
            border-color: $primary_hover;
            color: $primary_hover;
        }
    }
 }

 .account-dropdown {
     top: 34px;
     padding-top: 18px;
     right: -12px;
     width: 296px;
     max-height: 75vh;
     position: absolute;
     border-color: white;
     border-radius: $primary_input_border_radius;
     box-shadow: 0px 12px 24px $shadow_color, 
     0px -12px 24px $shadow_color;
     color: black;
     overflow-y: auto;
     background-color: white;

    h3 {
        line-height: 20px;
    }

    .icon {
        margin-right: 12px;
        font-size: 20px;
    }

     .account-summary {
         padding: 0 12px 24px 12px;
         display: block;
         font-size: $textM_font_size;
         font-weight: bold;
         line-height: 20px;
         cursor: default;

         .account-info-container {
             display: flex;
             justify-content: left;
             align-items: center;
             margin-top: 12px;

             .dropdown-portfolio-value {
                 margin-right: 36px;
             }

             .portfolio-subtext {
                 font-size: $textS_font_size;
                 font-weight: $textS_font_weight;
             }
         }
     }

     >div:not(:last-child) {
         border-bottom: 1px solid $neutral_border_color;
     }

     .dropdown-links, .dropdown-misc {
        display: block;
        font-weight: 400;

        > a {
            height: 48px;
            padding: 0 24px;
            display: flex;
            align-items: center;
            color: black;
        }

        >a:hover {
             color: black;
             background-color: $neutral_base;
         }
     }

     .drop-down-logout {
         height: 48px;
         display: flex;
         align-items: center;
         font-weight: 400;

         a {
             padding: 0 24px;
             display: flex;
            align-items: center;
         }

         a:hover {
             color: black;
         }
         
         .signout-icon {
             margin-right: 12px;
             font-size: 20px;
         }
     }

     .drop-down-logout:hover {
        background-color: $neutral_base;
     }
 }