@import "../base/variables.scss";

.auth-nav-container {
    position: fixed;
    height: 64px;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: none;
    display: flex;
    align-items: center;
}

.auth-nav {
    max-width: 100%;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    // justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.auth-logo-link {
    position: absolute;
    left: 48px;
    margin-right: 0;
}

img.auth-nav-logo {
    width: 35px;
    height: 35px;
    padding: 3px;
}

img.auth-nav-logo:hover {
    fill: $primary_hover;
}

.auth-nav-left {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area {
    display: flex;

    .search-icon {
        color: rgb(111,120,126);
        font-size: 24px;
        font-weight: 400;
    }

    input {
        border: none;
        width: 100%;
        background: none;
        padding-left: 4px;
        padding-right: 24px;
    }
}