@import "../base//variables.scss";

.dashboard-sidebar > div {
    margin-bottom: 0;
    height: calc(100% - 64px - 31px);
    margin-top: -24px;
    margin-left: -24px;
    padding: 24px;
    position: fixed;
    overflow-y: auto;
    top: calc(64px + 31px);
    width: 324px;
    box-sizing: border-box;
    background-color: white;
}

.sidebar-content {
    border-radius: $primary_border_radius;
    box-shadow: $box_shadow;
    position: relative;
    overflow: hidden auto;
    height: 100%;
}

.sidebar-title {
    height: 52px;
    width: 100%;
    position: relative;
    font-weight: bold;

    header {
        box-sizing: border-box;
        padding: 4px 24px 0 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $neutral_border_color;
    }
}

.list-items {
    position: relative;
}

.list-items:not(:first-child) {
    height: auto;
    display: block;
    border-bottom: 1px solid $neutral_border_color;
    font-size: $textS_font_size;
    font-weight: 400;
}

a.sidebar-list-item {
    display: block;
    height: 60px;
    width: 100%;
    // position: absolute;
    color: black;
}  

a.sidebar-list-item:hover {
    text-decoration: none;
    background-color: $neutral_base;
    cursor: pointer;
    
}

a.sidebar-list-item > div {
    padding: 0px 24px 0 24px;
    height: 60px;
    display: flex;
    align-items: center;
}

.holding-info {
    flex: 0 1 50%;
    margin-right: 12px;
    min-width: 0;
    line-height: 20px;

    div:first-child > span {
        font-weight: bold;
        padding-bottom: 2px;
    }
}

.list-item-chart {
    margin-right: 12px;
    margin-left: 12px;
    z-index: 2;

    *:hover {
        cursor: pointer;
    }
}

.holding-price {
    margin-left: 12px;
    flex: 0 1 50%;
    line-height: 20px;

    div {
        display: flex;
        justify-content: flex-end;
    }
}

// watchlists sidebar

.btn.new-watchlist {
    font-size: 16px;
}

.btn.new-watchlist:hover {
    color: blue;
}

.watchlist-title {
    height: 60px;
    width: 100%;
    cursor: pointer;
    border: none;

    header {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    header:hover {
        background-color: #f5f8fa;
    }
}

.watchlist {
    position: relative;
}

.watchlist-name-button {
    margin: 8px 16px;
    padding: 4px 8px;
    height: 30px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.watchlist-name-button:hover {
    border-radius: $primary_border_radius;
    background-color: $neutral_hover;
    color: black;
}

.watchlist-title-nav {
    display: flex;
    align-items: center;
}

.list-overflow {
    display: none;
    font-size: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.list-overflow:hover {
    color: blue;
}

.list-overflow.active {
    color: blue;
    border-color: blue;
}

.watchlist-title:hover .list-overflow {
    display: block;
}

.list-expand {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
}

.list-expand:hover {
    color: blue;
}

.ticker-symbol {
    flex: 0 1 50%;
    margin-right: 12px;
    min-width: 0;
    line-height: 20px;
    font-weight: bold;
}

.ticker-symbol:hover {
    color: blue;
}

.watchlist-dropdown {
    position: absolute;
    top: 44px;
    left: 80px;
    display: block;
    z-index: 99;
    background-color: white;
    box-shadow: $box_shadow;

    > div {
        padding: 12px 0 12px;

        button {
            display: flex;
            align-items: center;
            padding: 12px 24px 12px 22px;

            span {
                font-weight: 700;
                line-height: 20px;
            }
        }

        button:hover {
            color: blue;
        }
    }
}

.dropdown-icon {
    font-size: 20px;
    margin-right: 12px;
}

// new watchlist form
.new-watchlist-form {
    position: relative;
    height: 92px;
    width: 100%;

    form {
        padding: 8px 24px 0 18px;

        footer {
            display: flex;
            justify-content: flex-end;

            button {
                padding: 0 24px;
                border-width: 1px;
                border-radius: $primary_border_radius;
                height: 36px;
                font-weight: 700;
                line-height: 20px;
            }

            button:first-child {
                margin-right: 8px;
                border: 1px solid blue;
                color: blue;
            }

            button:last-child {
                background-color: blue;
                color: white;
            }
        }
    }
}

.new-watchlist-name {
    height: 36px;
    width: 100%;
    margin-bottom: 8px;

    input {
        height: 36px;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        font-size: $textS_font_size;
        line-height: 20px;
        border-radius: $primary_border_radius;
        background-color: $neutral_bg2;
        border: 1px solid $neutral_bg2;
    }

    input.red {
        border-color: $primary_red_base;
    }

    input:focus {
        border-color: blue;
    }
}

.create-errors {
    position: absolute;
    background-color: white;
    box-shadow: $box_shadow;
    border-radius: $primary_border_radius;
    z-index: 99;
    padding: 24px;
    right: 24px;
    top: 48px;

    >div {
        max-width: 220px;
        display: flex;
        align-items: center;
    }

    .icon {
        font-size: 24px;
        margin-right: 12px;
    }

    span {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}