@import "../base/variables.scss";

.modal-form-div.deposit {
    height: 100%;
    width: 100%;

    .close-btn {
        position: fixed;
        right: 24px;
        top: 24px;
        height: 52px;
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 50%;
        border: none;
        background-color: transparent;
    }

    .close-btn:hover {
        background-color: $neutral_bg2;
    }
}

.deposit-form {
    padding-top: 120px;
    margin: 0 auto;
    width: 560px;

    .modal-title {
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 28px;
    }

    label {
        height: 48px;
        display: flex;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: start;

        div {
            margin-left: auto;
            width: 380px;

            .deposit-input {
                width: 100%;
                height: 36px;
                padding: 0 13px;
                box-sizing: border-box;
                color: rgb(0, 0, 0);
                border: 1px solid black;
                border-radius: $primary_border_radius;
                line-height: 1.5em;
                border: none;
                background-color: $neutral_bg2;
            }

            .deposit-input:focus {
                background-color: $neutral_bg2;
                border-color: $primary_green_base;
            }
        }
    }

    button {
        margin-top: 48px;
        height: 48px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: $primary_border_radius;
        color: white;
        background-color: $primary_green_base;
        cursor: pointer;

        span {
            font-size: $textS_font_size;
            font-weight: 700;
            text-align: center;
        }
    }

    button:hover {
        background-color: $primary_green_hover;
    }

    button:focus {
        background-color: $primary_green_pressed;
    }
}