@import "../base/variables.scss";

.modal-background-div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 99;
}

.modal-form-div {
    position: relative;
    // height: 408px;
    // width: 408px;
    width: max-content;
    border-radius: $primary_border_radius;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 5px solid var(--brown);
}

.about-me {
    // width: 100%;
    height: 408px;
    width: 408px;
    padding: 36px 0;
    line-height: 20px;
}

.modal-title {
    margin-bottom: 12px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;

    button {
        background: none;
        border: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin-top: -8px;
        margin-right: -8px;
        font-size: 24px;
        color: $neutral_fg3;
    }
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 80px;
        border-radius: 50%;
    }
}

.developer {
    margin-top: 24px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $neutral_fg2;
}

.description {
    margin-top: 36px;
    padding: 0 36px;
    text-align: justify;
}

// delete watchlist

.delete-watchlist {
    width: 408px;
    padding: 24px 0;

    header {
        padding: 0 24px;
        margin-bottom: 12px;
    }

    footer {
        padding: 0 24px;

        button {
            font-weight: 700;
            border-radius: $primary_border_radius;
            background-color: $primary_red_base;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 48px;
            height: 48px;
            width: 100%;
        }

        button:hover {
            background-color: $primary_red_hover;
        }

        button:focus {
            background-color: $primary_red_pressed;
        }
    }
}

.delete-warning {
    margin-bottom: 24px;
    font-size: 13px;
}

.delete-title, .edit-title, .addTo-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .25px;
}

// edit watchlist

.edit-watchlist {
    width: 408px;
    padding: 24px 0;

    header {
        padding: 0 24px;
        margin-bottom: 12px;
    }

    form {
        padding: 8px 24px 0 18px;

        input {
            font-size: 13px;
            background-color: $neutral_bg2;
            border: 1px solid transparent;
            border-radius: $primary_border_radius;
            padding: 0 12px;
            margin-bottom: 24px;
            height: 36px;
            width: 100%;
        }

        input.red {
            border-color: $primary_red_base;
        }

        input:focus {
            border-color: $primary_green_base;
        }

        button {
            font-weight: 700;
            border-radius: $primary_border_radius;
            background-color: $primary_green_base;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 48px;
            height: 48px;
            width: 100%;
        }

        button:hover {
            background-color: $primary_green_hover;
        }

        button:focus {
            background-color: $primary_green_pressed;
        }
    }
}

.edit-errors {
    position: absolute;
    background-color: white;
    box-shadow: $box_shadow;
    border-radius: $primary_border_radius;
    z-index: 99;
    padding: 24px;
    right: 24px;
    top: 120px;

    >div {
        max-width: 220px;
        display: flex;
        align-items: center;
    }

    .icon {
        font-size: 24px;
        margin-right: 12px;
    }

    span {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}

// add to watchlist modal

.addTo-watchlists {
    width: 408px;
    padding: 24px 0;

    header {
        padding: 0 24px;
        margin-bottom: 12px;
    }

    footer {
        padding: 0 24px;
    }
}

.addTo-watchlist-table {
    padding: 0 24px;
    margin-bottom: 24px;
    overflow: auto;
    max-height: 365px;

}

button.btn.watchlist-select {
    width: 100%;
    background: none;
    box-sizing: border-box;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
    height: 64px;

    .checkbox {
        margin-right: 36px;
        font-size: 24px;
        color: $primary_base;
    }
}

.watchlist-header-title {
    font-size: $textM_font_size;
    line-height: $textM_line_height;
}

.watchlist-header-subtitle {
    color: $neutral_fg2;
    font-size: $textS_font_size;
    line-height: $textS_line_height;
}

button.btn.watchlist-add {
    width: 100%;
    height: 48px;
    border: 1px solid unset;
    font-weight: 700;
    border-radius: $primary_border_radius;
    color: white;
    background-color: $primary_base;
}

button.btn.watchlist-add:hover {
    border-color: unset;
    background-color: $primary_hover;
}

button.btn.watchlist-add:disabled {
    color: white;
    border-color: $neutral_fg3;
    background-color: $neutral_fg3;
}



