@import "../base//variables.scss";

.order-form {
    header {
        height: 52px;
        padding: 4px 24px 0px 24px;
        border-bottom: 1px solid $neutral_dark;
        box-sizing: border-box;
    }

    .trade-mode-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .trade-mode {
            cursor: pointer;
            height: 100%;
            line-height: 24px;
            display: flex;
            align-items: center;
            font-size: $textM_font_size;
            font-weight: bold;
            border-bottom: 2px solid transparent;
        }

        .trade-mode.active {
            border-bottom: 2px solid black;
        }

        .trade-mode:first-child {
            margin-right: 12px;
        }
    }

    .input-main {
        padding: 12px 24px 0 24px;

        .invest-type, .amount-input, .price-info, .order-estimate {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .amount-input > input {
            width: 82px;
            height: 36px;
            border: none;
            background-color: $neutral_base;
            border-radius: $primary_input_border_radius;
            border: transparent;
            text-align: right;
        }

        .price-info {
            border-bottom: 1px solid $neutral_dark;
        }

        .order-form-submit {
            padding: 12px 24px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        footer {
            font-size: $textS_font_size;
            font-weight: 400;
        }
    }
}