@import "../base//variables.scss";

.order-form {
    header {
        height: 52px;
        padding: 4px 24px 0px 24px;
        border-bottom: 1px solid $neutral_dark;
        box-sizing: border-box;
    }

    .trade-mode-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .trade-mode {
            cursor: pointer;
            height: 100%;
            line-height: $textM_line_height;
            display: flex;
            align-items: center;
            font-size: $textM_font_size;
            font-weight: bold;
            border-bottom: 2px solid transparent;
        }

        .trade-mode.active {
            color: $primary_base;
            border-bottom: 2px solid $primary_base;
        }

        .trade-mode:first-child {
            margin-right: 12px;
        }
    }

    .input-main {
        padding: 12px 24px 0 24px;
        font-size: $textS_font_size;

        .invest-type, .amount-input, .price-info, .order-estimate {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .amount-input > input {
            width: 92px;
            height: 36px;
            border: none;
            background-color: $neutral_base;
            border-radius: $primary_border_radius;
            border: transparent;
            text-align: right;
        }

        .amount-input > input:focus {
            border: 1px solid $primary_base;
        }

        .price-info {
            border-bottom: 1px solid $neutral_dark;
        }

        .order-form-submit {
            margin-top: 12px;
            // padding: 12px 24px 24px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 100%;
                height: 48px;
                border: none;
                background-color: $primary_base;
                border-radius: $primary_border_radius;
                color: white;
                font-weight: 700;
            }

            button:hover {
                background-color: $primary_hover;
            }

            button:focus {
                background-color: $primary_pressed;
            }
        }

        footer {
            font-size: $textS_font_size;
            font-weight: 400;
            color: $primary_base;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.price-info, .order-estimate {
    font-weight: 700;
}

.price-label {
    color: $primary_base;
}

.input-type-options {
    height: 36px;
    background-color: $neutral_base;
    border-radius: $primary_border_radius;
    border: transparent;
    display: flex;
    align-items: center;

    select {
        padding-left: 12px;
        width: 92px;
        height: 100%;
        border: none;
        background: none;
    }
}