@import "../base/variables.scss";

.auth-main {
    padding-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.portfolio-container {
    padding-top: 36px;
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.portfolio-value-container {
    width: 676px;
    // height: 350px;
    margin-bottom: 44px;
    position: relative;

    header.portfolio-value {
        height: 95px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;

        .portfolio-change-container {
            display: flex;
            align-items: center;
            
            div:first-child {
                margin-right: 12px;
            }
        }
    }

    .portfolio-number {
        margin-bottom: 12px;
        font-size: $textXL_font_size;
        h1 {
            font-weight: 400;
        }
    }
}

.portfolio-main {
    flex: 0 0 66.66667%;
    padding: 0 6px;
}

.dashboard-sidebar {
    flex: 0 0 27.77778%;
    padding: 0 6px;
    margin-right: 0;
}

.initial-chart {
    margin-bottom: 50px;

    div {
        background-image: url("https://cdn.robinhood.com/assets/generated_assets/6da8e43c2ce2585fa5f4384a506a5eda.svg");
        background-position: left bottom;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 670px;
        display: block;
    }
}

.chart-range-container {
    border-bottom: 1px solid $neutral_bg3;
    margin-top: 12px;
    margin-bottom: 30px;
    box-sizing: border-box;
    height: 32px;
}

.chart-range {
    display: flex;
    align-items: center;
    height: 33px;
    box-sizing: border-box;
}

.btn.chart-range-button {
    background: none;
    border: 0px;
    cursor: pointer;
    font: inherit;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

    div {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 12px;
        margin: 0 12px;
        font-size: $textS_font_size;
        font-weight: 700;
        box-sizing: border-box;
    }

    div:hover {
        color: $primary_base;
    }
}

.btn.chart-range-button:first-child {
    margin-left: -12px;
}

.btn.chart-range-button.active div {
    border-bottom: 2px solid $primary_base;
    color: $primary_base;
}

.hide {
    display: none;
}