@import "../base/variables.scss";

.search-dropdown {
    margin-left: -24px;
    width: calc(100% + 24px);
    z-index: 5;
    position: relative;
    color: black;
    overflow-y: auto;
    background-color: white;
    border-radius: $primary_border_radius;
    box-shadow: 0px 12px 24px $shadow_color, 
     0px 24px 24px $shadow_color;

     > div {
         padding: 12px 24px 24px;
     }

    .search-result-item > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: $textS_font_size;

        b {
            font-weight: 400;
            color: $primary_base;
        }
    }

    .search-result-item {
        margin-left: -24px;
        margin-right: -24px;
        padding: 0px 24px;
    }

    .search-result-item:hover {
        background-color: #f5f8fa;

        a {
            color: initial;
        }
    }
}

.search-title {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    color: $neutral_fg2;
    font-size: $textS_font_size;
}

.search-results-container {
    
}
