@import "../base/variables.scss";

#signup-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.signup-left {
    display: block;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;

    .signup-left-content {
        width: 60%;
        margin: 0px 15%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
    }

    .signup-logo {
        position: absolute;
        top: 40px;
    }

    #signup-form {
        margin-bottom: 51px;
        margin-top: 161px;
    }

    img.splash-nav-logo {
        max-width: 130px;
        height: auto;
    }
}

.signup-right {
    display: block;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $neutral_base;
}

.signup-form-header {
    margin-bottom: 30px;

    .signup-welcome-message {
        font-size: 24px;
        font-weight: 500;
    }

    .signup-welcome-subtitle {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400;
    }

}

.signup-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 180px;

    .signup-form-1 {
        display: flex;
        justify-content: space-between;
        :nth-child(1), :nth-child(3) {
            flex-basis: 45%;
            flex-grow: 1;
            flex-shrink: 1;
        }

        :nth-child(2) {
            flex-basis: 10%;
            flex-grow: 0.5;
            flex-shrink: 0.5;
        }
    }


    input {
        padding: 0 12px;
        width: 100%;
        height: 34px;
        border: none;
        background-color: $neutral_base;
        border: 1px solid $neutral_base;
        border-radius: $primary_border_radius;
    }

    input:hover {
        border-color: gray;
        transition: border-color 200ms ease-in;
    }

    input:focus {
        border: 1px solid rgb(0, 180, 5);
    }
}

.signup-footer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#signup-form {
    button {
        margin-left: 20px;
        background-color: $primary_green_base;
        color: white;
        font-weight: bold;
        height: $primary_button_height;
        width: $primary_button_width;
        border: none;
        border-radius: $primary_border_radius;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button:hover {
        background-color: $primary_green_hover;
        cursor: pointer;
    }

    button:focus {
        background-color: $primary_green_pressed;
        outline: none;
    }

    button.secondary {
        margin-left: 0;
        background-color: $neutral_base;
        color: black;
        border: none;
        font-weight: bold;
        border-radius: $primary_border_radius;
        height: $primary_button_height;
        width: $primary_button_width;
    }

    button.secondary:hover {
        cursor: pointer;
        color: $primary_green_hover;
    }

    button.secondary:focus {
        color: $primary_green_pressed;
        outline: none;
    }
}

.signup-login-redirect {
    margin-left: 20px;
    display: block;
    font-size: $textS_font_size;
    font-weight: $textS_font_weight;

    div {
        margin-bottom: 10px;
    }

    a {
        padding: 20px 0;
    }
}