@import "../base/variables.scss";

#login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

img.signin-image {
    display: block;
    min-width: 500px;
    height: 100%;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
}

.signin-form-container {
    display: block;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

div.signin-form-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    max-width: 400px;
    height: 100%;
}

.input {
    padding: 0 12px;
    width: 100%;
    height: 34px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: $primary_input_border_radius;
}

.input:hover {
    border-color: gray;
    transition: border-color 200ms ease-in;
}

.input:focus {
    outline: none;
    border: 1px solid rgb(0, 180, 5);
}

.signin-welcome-header {
    font-size: 20px;
    margin-bottom: 30px;
}

.signin-main {
    font-size: 14px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signin-button-container {
    margin-top: 60px;
    button {
        background-color: $primary_base;
        color: white;
        font-weight: bold;
        height: 48px;
        width: 120px;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button:hover {
        background-color: $primary_hover;
        cursor: pointer;
    }

    button:focus {
        background-color: $primary_pressed;
    }
}
