@import "../base/variables.scss";

.watchlist-page {
    padding-top: 64px;
    margin-bottom: 64px;
}

.watchlist-container {
    padding-top: 36px;
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.watchlist-main {
    flex: 0 0 66.66667%;
    padding: 0 6px;

    > header {
        background-color: white;
        height: 80px;
        margin: 0 -24px;
        overflow: hidden;
        padding: 0 24px;
        position: sticky;
        top: 64px;
        display: flex;
        align-items: start;
        z-index: 1;
    }
}

.main-watchlist-name {
    margin-bottom: 10px;
    flex-grow: 1;
    max-height: 80px;
    max-width: 600px;
}

.icons {
    flex-shrink: 0;
    margin-left: auto;
    display: block;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.icons:hover {
    color: $primary_green_hover;
}

div.watchlist-name-form {
    cursor: pointer;
}

div.watchlist-name-form:hover {
    background-color: $neutral_bg2;
}

form.watchlist-name-form {
    margin-top: -8px;
    margin-bottom: -10px;
}

.watchlist-name-form, .watchlist-name-form input {
    background: none;
    border: 0px;
    border-radius: $primary_border_radius;
    box-sizing: border-box;
    margin-left: -8px;
    padding: 8px;
    text-align: left;
    width: 100%;
    font-size: $displayM_font_size;
    line-height: 32px;
}

.watchlist-page input {
    box-sizing: border-box;
    border: 2px solid blue;
}

.watchlist-subtitle {
    font-size: $textS_font_size;
    color: $neutral_fg2;
    line-height: 20px;
}

.watchlist-table-container {
    margin-top: 12px;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}

.table-header {
    position: sticky;
    top: 80px;
    z-index: 0;

    >div {
        display: flex;
        background-color: white;
        padding: 0 24px;
        margin: 0 -24px;
    }
}

.watchlist-sidebar {
    flex: 0 0 27.77778%;
    padding: 0 6px;
    margin-right: 0;
}

.column-header {
    border-bottom: 1px solid $neutral_border_color;
    height: 48px;
    box-sizing: border-box;
    text-align: left;
    padding-right: 24px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    button {
        padding: 0;
    }

    div {
        color: $neutral_fg2;
    }
}

.column-header:hover {
    div {
        color: $primary_green_hover;
    }
}

.column-header:first-of-type {
    width: 250px;
}

.column-header:not(:first-of-type):not(:last-of-type) {
    width: calc(0px + (100% - 286px) / 4);
}

.column-header:last-of-type {
    width: calc(36px + (100% - 286px) / 4);
}

.table-row {
    height: 60px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    a {
        display: block;
        cursor: pointer;
        width: 100%;
        box-sizing: content-box;
        padding: 0 24px;
        margin: 0 -24px;
        position: relative;
        color: black;
        border: 1px solid transparent;
    }
}

.table-cells {
    display: flex;
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid $neutral_border_color;
    border-radius: $primary_border_radius;
}

.table-cells:hover {
    background-color: $neutral_bg2;
    border: none;
}

.table-cell {
    box-sizing: border-box;
    text-align: left;
    padding-right: 24px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: $textS_font_size;
    line-height: 20px;

    div {
        font-size: 12px;
        display: inline-flex;
        margin-right: 5px;
    }
}

.table-cell:first-of-type {
    width: 250px;
    font-weight: 700;
}

.table-cell:not(:first-of-type):not(:last-of-type) {
    width: calc(0px + (100% - 286px) / 4);
}

.table-cell:last-of-type {
    width: calc(36px + (100% - 286px) / 4);
}

.item-delete-icon {
    position: absolute;
    right: 0;
}

.btn.delete-watchlist-item:hover {
    color: $primary_green_base;
}

.empty-table {
    margin-top: 72px;
    text-align: center;

    header {
        margin-bottom: 12px;

        span {
            font-size: $displayS_font_size;
            font-weight: $displayS_line_height;
            line-height: 28px;
        }
    }

    footer {
        margin: 0 auto;
        max-width: 340px;
        font-size: $textM_font_size;
    }
}

.watchlist-title-button:hover {
    color: initial;
}

.watchlist-name {
    margin: 8px 16px;
    padding: 4px 8px;
    height: 30px;
    font-size: 13px;
    display: flex;
    align-items: center;
}